body{
    display: flex;
    justify-content: center;
    background-color: #f4f4f4;
}
.card{
    margin-top: 20%;
    width: 200px;
    height: 300px;
    border-radius: 20px;
    background-image: url("https://media.bitdegree.org/storage/media/images/2018/08/what-is-a-web-developer.jpg");
    background-size: cover;
    background-position: center;
    transition: all ease-in-out 160ms;
    cursor: pointer;
}
.card:hover{
    transform: scale(1.2);
    box-shadow: 10px 20px 30px rgba(0, 0, 0, 0.6);
    opacity: 1;
}
body{
    display: flex;
    justify-content: center;
    background-color: #f4f4f4;
}
.card{
    margin-top: 20%;
    width: 200px;
    height: 300px;
    border-radius: 20px;
    background-image: url("https://media.bitdegree.org/storage/media/images/2018/08/what-is-a-web-developer.jpg");
    background-size: cover;
    background-position: center;
    transition: all ease-in-out 160ms;
    cursor: pointer;
}
.card:hover{
    transform: scale(1.2);
    box-shadow: 10px 20px 30px rgba(0, 0, 0, 0.6);
    opacity: 1;
}
body{
    display: flex;
    justify-content: center;
    background-color: #f4f4f4;
}
.card{
    margin-top: 20%;
    width: 200px;
    height: 300px;
    border-radius: 20px;
    background-image: url("https://media.bitdegree.org/storage/media/images/2018/08/what-is-a-web-developer.jpg");
    background-size: cover;
    background-position: center;
    transition: all ease-in-out 160ms;
    cursor: pointer;
}
.card:hover{
    transform: scale(1.2);
    box-shadow: 10px 20px 30px rgba(0, 0, 0, 0.6);
    opacity: 1;
}